/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/

@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -ms-touch-action: auto;
  touch-action: auto;
  color: #444;
  font-family: 'Schoolbell', sans-serif, Arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  margin: 15px;
}
#header {
  margin-top: -70px;
}
h1 {
  color: #b383e2;
  font-size: 8rem;
  text-align: center;
  margin-top: 25px;
  opacity: 0.6;
  cursor: pointer;
  margin-bottom: 55px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Schoolbell', cursive;
  text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fas {
  text-align: center;
}

#click {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.alert {
  text-align: center;
}
form {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-bottom: 50px;
  background-color: #f3f3f3;
  position: relative;
  z-index: 1;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.input::-webkit-input-placeholder {
  color: #d5d5d5;
  font-family: 'Schoolbell', sans-serif, Arial;
}

.input::-moz-placeholder {
  color: #d5d5d5;
  font-family: 'Schoolbell', sans-serif, Arial;
}

.input:-ms-input-placeholder {
  color: #d5d5d5;
  font-family: 'Schoolbell', sans-serif, Arial;
}

.input::-ms-input-placeholder {
  color: #d5d5d5;
  font-family: 'Schoolbell', sans-serif, Arial;
}

.input::placeholder {
  color: #d5d5d5;
  font-family: 'Schoolbell', sans-serif, Arial;
}

.input:focus {
  outline-color: rgb(179, 131, 226);
}
input {
  font-family: inherit;
}

.addToDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
button {
  background-color: #b383e2;
  width: 50px;
}

.todos,
.completedToDos {
  background-color: rgb(250, 250, 250);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.notcompleted ol {
  height: auto;
  max-height: 500px;
}
li {
  opacity: 0;
  -webkit-animation: li-animation 0.3s linear forwards;
  animation: li-animation 0.3s linear forwards;
}

@-webkit-keyframes li-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-500%);
    transform: translateY(-500%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes li-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-500%);
    transform: translateY(-500%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.todos li,
.completedToDos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #b6b6b6;
  background-color: #faf6f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all ease;
  -o-transition: all ease;
  transition: all ease;
}
#alert {
  display: none;
  align-items: center;
  text-align: center;
  margin-top: 0;
}
.todos li.completed::after {
  content: 'Completed';
  color: red;
  -webkit-animation-name: example;
  animation-name: example;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
@-webkit-keyframes example {
  from {
    opacity: 1;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes example {
  from {
    opacity: 1;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.completedJobs {
  padding-bottom: 1px;
}

.completedToDos li.completed {
  color: #b6b6b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

h3 {
  margin-left: 15px;
}

.mobile {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  z-index: 1;
  background-color: #f3f3f3;
  width: 100%;
  opacity: 0.9;
}
@media screen and (min-width: 1024px) {
  small.mobile {
    display: none;
  }
}
.desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .desktop {
    display: block;
    position: fixed;
    bottom: 0;
    height: 50px;
    text-align: center;
    z-index: 1;
    background-color: #f3f3f3;
    width: 100%;
    opacity: 0.9;
  }
}

.ball {
  position: fixed;
  opacity: .5;
  border-radius: 100%;
  background: -o-linear-gradient(right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(255, 0, 0, 0)),
    to(rgba(255, 0, 0, 1))
  );
  background: linear-gradient(-90deg, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
  -webkit-animation: gradient 8s ease-in-out infinite;
  animation: gradient 8s ease-in-out infinite;
  background-size: 400% 400%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.deleting {
  -webkit-animation: deleting-animation 500ms
    cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
  animation: deleting-animation 500ms cubic-bezier(0.55, -0.04, 0.91, 0.94)
    forwards;

  -webkit-transform-origin: 0% 100%;

  -ms-transform-origin: 0% 100%;

  transform-origin: 0% 100%;
}

@-webkit-keyframes deleting-animation {
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(400px) rotateZ(90deg);
    transform: translateY(400px) rotateZ(90deg);
  }
}

@keyframes deleting-animation {
  0% {
    opacity: 1;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(400px) rotateZ(90deg);
    transform: translateY(400px) rotateZ(90deg);
  }
}
