@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
* {
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: 'Schoolbell', sans-serif, Arial;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  margin: 15px;
}
h1 {
  color: #b383e2;
  font-size: 8rem;
  text-align: center;
  margin-top: 1px;
  opacity: 0.6;
  cursor: pointer;
  margin-bottom: 2rem;
  user-select: none;
  font-family: 'Schoolbell', cursive;
  text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin-bottom: 50px;
  background-color: #f3f3f3;
  position: relative;
  z-index: 1;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.input::placeholder {
  color: #d5d5d5;
  font-family: 'Schoolbell', sans-serif, Arial;
}

.input:focus {
  outline-color: rgb(179, 131, 226);
}

.addToDo {
  display: flex;
  flex-direction: row;
}
button {
  background-color: #b383e2;
  width: 50px;
}

.todos,
.completedToDos {
  background-color: rgb(250, 250, 250);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.notcompleted ol {
  height: auto;
  max-height: 500px;
}

.todos li,
.completedToDos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #b6b6b6;
  background-color: #faf6f5;
}

.todos li.completed::before {
  content: '\2713';
  padding-right: 10px;
}

.completedJobs {
  padding-bottom: 1px;
}

.completedToDos li.completed {
  color: #b6b6b6;
}

h3 {
  margin-left: 15px;
}

small {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 50px;
}

.ball {
  position: fixed;
  border-radius: 100%;
  opacity: 0.7;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
}

.deleting {
  transform: scale(1, 0);
  transition: all 500ms ease;
  background-color: #f3f3f3;
}
