@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
* {
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: 'Schoolbell', sans-serif, Arial;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  margin: 15px;
}
h1 {
  color: #b383e2;
  font-size: 8rem;
  text-align: center;
  margin-top: 1px;
  opacity: 0.6;
  cursor: pointer;
  margin-bottom: 2rem;
  user-select: none;
  font-family: 'Schoolbell', cursive;
  text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-bottom: 50px;
  background-color: #f3f3f3;
  position: relative;
  z-index: 1;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
}

.input::placeholder {
  color: #d5d5d5;
  font-family: 'Schoolbell', sans-serif, Arial;
}

.input:focus {
  outline-color: rgb(179, 131, 226);
}

.addToDo {
  display: flex;
  flex-direction: row;
}
button {
  background-color: #b383e2;
  width: 50px;
}

.todos,
.completedToDos {
  background-color: rgb(250, 250, 250);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.notcompleted ol {
  height: auto;
  max-height: 500px;
}

.todos li,
.completedToDos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #b6b6b6;
  background-color: #faf6f5;
  display: flex;
    justify-content: space-between;
}

.todos li.completed::after {
  content: 'Completed';
 color: red;
}

.completedJobs {
  padding-bottom: 1px;
}

.completedToDos li.completed {
  color: #b6b6b6;
  display: flex;
  justify-content: space-between;
}

h3 {
  margin-left: 15px;
}

.mobile {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  z-index: 1;
  background-color: #f3f3f3;
  width: 100%;
  opacity: 0.9;
}
@media screen and (min-width: 1024px) {
  small.mobile {
    display: none;
  }
}
.desktop {
  display: none;
}
@media screen and (min-width: 1024px){
  .desktop{
    display: block;
    position: fixed;
    bottom: 0;
    height: 50px;
    text-align: center;
    z-index: 1;
    background-color: #f3f3f3;
    width: 100%;
    opacity: 0.9;
  }
}

.ball {
  position: fixed;
  border-radius: 100%;
  opacity: 0.7;
  background: linear-gradient(-45deg,#f1ecea, #e73c7e, #6ed0f3, #011611);
  animation: gradient 5s  ease-in-out infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.deleting {
  transform: scale(1, 0);
  transition: all 500ms ease;
  background-color: #f3f3f3;
}
